.btn {
  padding: 0.75rem 2rem;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: #fafafc;
  color: #1d1d1f;
  border: 2px solid #1d1d1f;
  box-shadow: 0px 4px 0px #000000;
  min-width: 200px;
}

.btn-primary:hover {
  background: #ff90e8;
  color: #ffffff;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  background: #fafafc;
  color: #616161;
  border: 2px solid #d9d9d9;
  pointer-events: none;
  box-shadow: none;
}

.btn-secondary {
  background: #1d1d1f;
  color: #fafafc;
  border: 2px solid #1d1d1f;
  box-shadow: 0px 4px 0px #000000;
  min-width: 200px;
}

.btn-secondary:hover {
  background: #616161;
  color: #ffffff;
  border: 2px solid #616161;
  box-shadow: 0px 4px 0px #616161;
}

.btn-secondary:disabled,
.btn-secondary[disabled] {
  background: #d9d9d9;
  color: #616161;
  border: 2px solid #d9d9d9;
  pointer-events: none;
  box-shadow: none;
}

.btn-link {
  text-decoration: underline;
  background: transparent;
  color: #1d1d1f;
  border: 0;
  box-shadow: none;
  min-width: 200px;
}

.btn-link:hover {
  color: #ff90e8;
}

.btn-link:disabled,
.btn-link[disabled] {
  color: #616161;
  pointer-events: none;
  box-shadow: none;
}

.btn-icon {
  background: #fafafc;
  border: 2px solid #1d1d1f;
  box-shadow: 0px 4px 0px #1d1d1d;
  border-radius: 4px;
  padding: 0.75rem 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}

.btn-icon.round {
  border-radius: 50%;
}

.btn-icon:hover {
  background: #ff90e8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #1d1d1f;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  border: 2px solid #1d1d1f;
  background-color: #ff90e8;
}

input:focus + .slider {
  border: 2px solid #1d1d1f;
  box-shadow: 0 0 1px #ff90e8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border: 2px solid #1d1d1f;
  border-radius: 34px;
}

.slider.round:before {
  border: 2px solid #1d1d1f;
  border-radius: 50%;
}

.card {
  padding: 1rem;
  background: #fafafc;
  border: 2px solid #1d1d1f;
  box-shadow: 0px 8px 0px #1d1d1d;
  border-radius: 24px;
}


.header-border {
    border-bottom: 1px solid black;
    border-radius: 0 0 100px 0;
    box-shadow: 2px 10px;
    padding: 1.5rem 1rem;
  }