main { 
    border: unset;
    /* border-radius: unset; */
    box-shadow: unset;
    display: unset;
}

.lt-main {
    display: flex;
    flex-flow: column nowrap;
}

.aboutus--header,
.aboutus--elem h3 {
    text-align: center;
    font-size: 40px;
}

.aboutus--header h3 {
    margin: 1rem 0 0 0;
}

section.aboutus-profile {
    margin-bottom: 3rem;
}

.aboutus-profile .team-members {
    overflow-x: scroll;
}

.aboutus-profile ul {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 3%;
    /* scroll-snap-type: x mandatory; */
    padding: 1rem 2rem;
    justify-items: center;
    min-width: 1350px;
}

.aboutus-profile ul .card {
    border-width: 4px;
}

.member--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    scroll-snap-align: start;
    text-align: center;
}

.aboutus-description {
    position: fixed;
    background-color: #FED235;
    border-radius: 24px 24px 0 0 !important;
    flex-grow: 1;
    bottom: 0;
    /* top: 55%; */
    left: 0;
    right: 0;
}

.aboutus--elem {
    background-color: #FED235;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: unset;
    border: unset;
    max-height: 50vh;
    overflow: auto;
    padding: 26px;
}

.aboutus--elem p {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.aboutus--elem h3 {
    margin: 0;
}

.member--wrapper img {
    /* width: 123px;  */
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    top: 0;
    margin-bottom: .5rem;
}

.member--wrapper:nth-child(3) img,
.member--wrapper:nth-child(5) img,
.member--wrapper:nth-child(6) img {
    object-position: top;
}

img.card {
    padding: 0;
}

.member--wrapper .name,
.member--wrapper .role {
    font-size: 16px;
}

.member--wrapper .name {
    font-weight: 600;
}

.member--wrapper a {
    color: black;
    font-weight: 600;
    font-size: .8rem;
    text-decoration: underline;
}

@media screen and (min-width: 760px) {
    .visually-hidden,
    footer {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    }

    .aboutus-description {
        overflow-y: unset;
    }

    .aboutus--elem {
        padding-left: 5%;
        padding-right: 5%;
    }
    
}

@media screen and (min-width: 989px) {
    main {
        padding: 0 5%;        
    }
    
    .aboutus--elem p {
        font-size: 20px;
    }
    
    /* aboutus-profile {
        padding: 0 5%;
    } */
    
    /* .aboutus-description {
        top: 60%;
    } */

    .aboutus-profile ul {
        overflow-x: unset;
    }

    .profile-links {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

}


@media screen and (min-width: 1100px) {
    footer.visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
    }
}
