.nav-bar {
    border-bottom: 1px solid black;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.main-wrapper {
    margin: 0 2%;
}

main > .card {
    padding: 0;
}

.history-header {  
    border-bottom: 1px solid black;
    background-color:  #B470ED;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    margin-bottom: 2rem;
    padding: 1rem 1rem 2rem 1rem;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.grouped-left {
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;
}

.history-title,
.game-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-indicator {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.player-rank {
    font-size: 2rem;
}

/* ==========body */
.history-wrapper__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
    text-align: center;
}

h2, .history-indicator span {
    color: white;
}

select {
    border: 0;
    background-color: transparent;
    font-size: 2rem;
}

.history-header > .card {
    width: 9rem;
}

.history-wrapper__body .box {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.box.hide {
    display: none;
}

.history-wrapper__body h3 {
    margin: 0;
}

/* =========== pop up */
.history-wrapper__popup-overlay{
    display: none;
    place-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

.history-wrapper__popup-overlay.show {
    display: grid;
}

.history-wrapper__popup-overlay .popup-message {
    padding: 1rem;
    background-color: white;
}

/***** history card *****/
.history-body {
    text-align: center;
    max-width: 330px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding-bottom: 2rem;;
}

.play-date {
    font-size: 2rem;
    font-weight: bold;
}

.game-status {
    font-size: 1.2rem;
    font-weight: bold;
}

.hints-used {
    font-size: 1.2rem;
}

@media screen and (min-width: 1100px) {
    .nav-bar {
        border: none;
    }

    main {
        border: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    main > .card {
        min-width: 90vh;
    }

    .history-header {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .grouped-left {
        flex-flow: row nowrap;
    }

    .history-body {
        flex-flow: row nowrap;
        max-width: unset;
        justify-content: center;
        align-items: center;
        padding: 0 2% 2rem 2%;
    }

    .history-title, .game-title {
        flex-flow: column nowrap;
        
    }

    .dropdown {
        display: block;
    }

}

