.history-wrapper {
  padding: 0;
  margin: 1rem;
}

.history-wrapper__header {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  background-color: #b470ed;
  border-radius: 22px 22px 0 0;
  color: #fff;
}

.history-wrapper__header .filter-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.history-wrapper__body {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  max-height: calc(100vh - 210px);
  overflow: auto;
}

.history-wrapper__body .box {
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.history-wrapper__body .box h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.025em;
  color: #000000;
}

.history-wrapper__body .box p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 0;
  letter-spacing: -0.025em;

  color: #000000;
}

.history-wrapper__body .box div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.025em;
  color: #000000;
}

.box.hide {
  display: none;
}

.history-wrapper__body h3 {
  margin: 0;
}

.history-wrapper__popup-overlay {
  display: none;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.history-wrapper__popup-overlay.show {
  display: grid;
}

.history-wrapper__popup-overlay .popup-message {
  margin: auto 2rem;
  padding: 2rem;
  background-color: white;
}

.total-games span,
.total-games .total-games-counter {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.025em;
}

.filter-select {
  padding: 0.5rem;
  background: #fafafc;
  border: 1px solid #1d1d1f;
  box-shadow: 0px 2px 0px #000000;
  border-radius: 8px;
  width: 6rem;
}

.filter-select select:focus-visible {
  outline: none;
}

.filter {
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  border: 0;
  width: 5rem;
}

.status-lose {
  border: 4px solid #e76057;
  box-shadow: 0px 8px 0px #e76057;
}

.status-win {
  border: 4px solid #4ec887;
  box-shadow: 0px 8px 0px #4ec887;
}

.popup-content h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
}

.popup-social-share {
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid #000;
  padding-top: 1rem;
}

.popup-social-share .ht__header__wrapper_head {
  padding-bottom: 0.5rem;
}

.popup-social-share .share-wrapper-body {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .history-wrapper {
    max-width: 1200px;
    padding: 0;
    margin: auto;
  }

  .history-wrapper__body {
    margin: 2rem 5rem;
    flex-flow: row wrap;
  }
  .history-wrapper__body .box {
    flex: 0 0 23%;
  }

  .history-wrapper__header {
    padding: 1rem 5rem;
  }
}
