.visual-header-logo.visually-hidden {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: relative;
  white-space: unset;
  width: unset;
  padding: 3rem 2%;
}

.header-border {
  border-bottom: 1px solid black;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
  background-color: #fff;
}

main {
  padding: 2rem 3rem;
}
.home-main-section a {
  /* display: grid;
    grid-template-columns: repeat(2,1fr); */
  align-items: center;
  justify-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-flow: row wrap;
}

.home-labels {
  grid-column: 1/-1;
}

.home-main-section ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}

.go-play {
  grid-column: 1/-1;
}

.go-play a {
  min-width: 335px;
  min-height: 197px;
  align-content: center;
}

.home-main-section li:not(:first-of-type) a {
  min-height: 140px;
  min-width: 160px;
}

.home-labels {
  flex-basis: 100%;
  text-align: center;
}

.icon-label {
  font-size: 2rem;
}

@media screen and (min-width: 1100px) {
  main {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  .home-header {
    background-color: transparent;
    border-bottom: none !important;
  }

  .home-main-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }

  .go-play {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .go-play a {
    min-width: 438px;
    min-height: 603px;
  }

  .home-main-section li:not(:first-of-type) a {
    min-height: 284px;
    min-width: 284px;
    align-content: center;
  }
}
