body {
  overflow: hidden;
}

.visual-header-logo.visually-hidden {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: relative;
  white-space: unset;
  width: unset;
  padding: 1rem 2% 2rem;
}

.main-menu {
  display: none;
}

.header-border {
  border-bottom: 1px solid black;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
}

main {
  padding: 0 2%;
}

ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card a {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.home-labels,
.game-hint {
  grid-column: 3/-1;
  color: #fff;
}

.home-main-section ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3,1fr); */
  gap: 1rem;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}

a .btn,
.icon-label {
  grid-row: 1/2;
}

.go-play {
  grid-column: 1/-1;
  padding: 0;
  background-color: #ff90e8;
  transition: transform .75s ease-in-out;
  /* background: linear-gradient(to top, #fff 32%, #FF90E8 32% 68%); */
}

.go-play a {
  grid-template-rows: 2fr 1fr;
  min-width: 335px;
  min-height: 197px;
  align-content: center;
  position: relative;
  transform: translateX(0);
}

.icon-chance {
  position: absolute;
  top: 15%;
}

.go-play img {
  color: #ff90e8;
}

.home-labels {
  font-weight: bolder;
  color: #000;
}

.go-play .home-labels {
  background-color: #fff;
  color: #ff90e8;
  position: absolute;
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 22px 22px;
  bottom: -24px;
}

.icon-chance {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.go-play .game-chance {
  color: #fff;
  margin-left: 2rem;
}

.settings .btn {
  grid-column: 1/3;
}

.home-main-section li:not(:first-of-type) a {
  min-height: 140px;
  min-width: 160px;
}

.home-labels {
  flex-basis: 100%;
  text-align: center;
}

.icon-label {
  font-size: 2rem;
}

.main-wrapper span {
  font-size: 2rem;
}

.leaderboard-border {
  border-color: #e76057;
  box-shadow: 0px 8px 0px #e76057;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s, transform .75s ease-in-out .1s;
}

.leaderboard-border:hover {
  background-color: #e76057;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.leaderboard-border .player-rank,
.history-border .player-history,
.shop-border .earned-points,
.go-play .game-chance {
  font-weight: 400;
  font-size: 66px;
  line-height: 99px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
}

.history-border {
  border-color: #b470ed;
  box-shadow: 0px 8px 0px #b470ed;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s, transform .75s ease-in-out .2s;
}

.history-border:hover {
  background-color: #b470ed;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.shop-border {
  border-color: #4ec887;
  box-shadow: 0px 8px 0px #4ec887;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s, transform .75s ease-in-out .3s;
}

.shop-border:hover {
  background-color: #4ec887;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.settings-border {
  border-color: #5c91f6;
  box-shadow: 0px 8px 0px #5c91f6;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s, transform .75s ease-in-out .4s;
}

.settings-border:hover {
  background-color: #5c91f6;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

span.game-chance.icon-label {
  color: #fff;
}

span.game-hint {
  text-align: center;
}

div.btn-icon:hover {
  background-color: #fafafc;
}

@media screen and (min-width: 1100px) {
  main {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  .home-header {
    background-color: transparent;
    border-bottom: none !important;
  }

  .home-main-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }

  .home-main-section a:not(.go-play a) {
    grid-template-rows: 2fr 1fr;
    padding-top: 2.5rem;
  }

  .go-play {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .go-play a {
    min-width: 438px;
    min-height: 603px;
  }

  .home-main-section li:not(:first-of-type) a {
    min-height: 284px;
    min-width: 284px;
    align-content: center;
  }
}
