body {
  overflow: hidden;
}

.visual-header-logo.visually-hidden {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: relative;
  white-space: unset;
  width: unset;
  padding: 1rem 2% 2rem;
}

.main-menu {
  display: none;
}

.header-border {
  border-bottom: none;
  border-radius: unset;
  box-shadow: unset;
  padding: unset;
}

main {
  padding: 0 2%;
}

ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card {
  position: relative;
  padding: 2rem 1rem 1rem;
  overflow: hidden;
}

.card::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
  transition: all .4s ease-in-out;
}

.card:hover::before {
  width: 130%;
  height: 130%;
}

.card a {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.home-labels,
.game-hint {
  color: #fff;
}

.home-main-section ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3,1fr); */
  gap: 1rem;
  justify-items: stretch;
  margin: 0;
  padding: 0;
}

a .btn,
.icon-label {
  grid-row: 1/2;
}

.go-play {
  grid-column: 1/-1;
  padding: 0;
  max-width: 100%;
  background-color: #ff90e8;
  transition: transform 0.75s ease-in-out;
  /* background: linear-gradient(to top, #fff 32%, #FF90E8 32% 68%); */
}

.go-play::before {
  background-color: #ff90e8;
}

.go-play a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 197px;
  text-align: center;
  align-content: center;
  position: relative;
}

.icon-chance {
  justify-content: center;
}

.go-play .icon-chance {
  padding-top: 2rem;
}

.go-play img {
  color: #ff90e8;
}

.home-labels {
  font-size: 1rem;
  font-weight: bolder;
  color: #000;
}

.go-play .home-labels {
  padding: 1rem;
  width: 100%;
  background: linear-gradient(to bottom, #ff90e8 50%, #fff 50%);
  background-size: 100% 200%;
  background-position-y: 100%;
  color: #ff90e8;
  font-size: 2rem;
  border-radius: 0 0 22px 22px;
  transition: all .4s ease-in-out;
}

.go-play:hover .home-labels {
  background-position-y: 0;
  color: white;
}

.icon-chance {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.go-play .game-chance {
  color: #fff;
  margin-left: 2rem;
}

.settings .btn {
  grid-column: 1/3;
}

.home-labels {
  flex-basis: 100%;
  text-align: center;
}

.icon-label {
  font-size: 2rem;
}

.leaderboard-border {
  border-color: #e76057;
  box-shadow: 0px 8px 0px #e76057;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.75s ease-in-out 0.1s;
}

.leaderboard-border:hover {
  background-color: #e76057;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.leaderboard-border::before {
  background-color: #e76057;
}

.leaderboard-border .btn-icon {
  border: 2px solid #e76057;
  box-shadow: 0px 4px 0px #e76057;
}

.leaderboard-border .player-rank,
.history-border .player-history,
.shop-border .earned-points,
.settings-border .earned-points,
.go-play .game-chance {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.025em;
  color: #1d1d1f;
}

.settings-border .st-points {
  color: transparent;
}

.settings-border .card-head {
  position: relative;
}

.settings-border .card-head .btn {
  position: absolute;
}

.history-border {
  border-color: #b470ed;
  box-shadow: 0px 8px 0px #b470ed;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.75s ease-in-out 0.2s;
}

.history-border:hover {
  background-color: #b470ed;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.history-border::before {
  background-color: #b470ed;
}

.history-border .btn-icon {
  border: 2px solid #b470ed;
  box-shadow: 0px 4px 0px #b470ed;
}

.shop-border {
  border-color: #4ec887;
  box-shadow: 0px 8px 0px #4ec887;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.75s ease-in-out 0.3s;
}

.shop-border:hover {
  background-color: #4ec887;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.shop-border::before {
  background-color: #4ec887;
}

.shop-border .btn-icon {
  border: 2px solid #4ec887;
  box-shadow: 0px 4px 0px #4ec887;
}

.settings-border {
  border-color: #5c91f6;
  box-shadow: 0px 8px 0px #5c91f6;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s,
    box-shadow 0.5s, transform 0.75s ease-in-out 0.4s;
}

.settings-border::before {
  background-color: #5c91f6;
}

.settings-border:hover {
  background-color: #5c91f6;
  color: #000;
  border-color: #1d1d1d;
  box-shadow: 0px 8px 0px #1d1d1d;
}

.settings-border .btn-icon {
  border: 2px solid #5c91f6;
  box-shadow: 0px 4px 0px #5c91f6;
}

span.game-chance.icon-label {
  color: #fff;
}

span.game-hint {
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}

div.btn-icon:hover {
  background-color: #fafafc;
}

.card-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  main {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  .home-header {
    background-color: transparent;
    border-bottom: none !important;
  }

  .home-main-section ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    align-items: stretch;
  }

  .home-main-section a:not(.go-play a) {
    grid-template-rows: 2fr 1fr;
    padding-top: 2.5rem;
  }

  .card {
    padding: 1rem;
  }

  .card a {
    row-gap: 2rem;
  }

  .go-play {
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 0;
    width: 438px;
  }

  .go-play a {
    min-height: 603px;
  }

  .go-play .icon-chance {
    padding: 6rem 0 2rem;
  }

  .home-main-section li:not(:first-of-type) a {
    min-height: 284px;
    min-width: 284px;
    align-content: center;
  }

  span.game-hint {
    align-self: start;
    font-size: 2rem;
  }

  .home-labels {
    font-size: 2rem;
  }

  .leaderboard-border .player-rank,
  .history-border .player-history,
  .shop-border .earned-points,
  .settings-border .earned-points,
  .go-play .game-chance {
    font-size: 4rem;
  }
}
