html {
    height: 100vh;
}

body {
    /* max-width: 37.5rem; */
    margin: 0 auto;
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }


header, .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    }

main {
    display: block;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }

  .carousel__slide:nth-child(2) .play-wrapper__progress_line,
  .carousel__slide:nth-child(3) .play-wrapper__progress_line,
  .carousel__slide:nth-child(4) .play-wrapper__progress_line {
    top: 26px;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  

.header-border button {
    margin-left: 0;
}

.btn {
    font-size: unset;
}

.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.carousel__slide:nth-child(2) .btn-icon,
.carousel__slide:nth-child(3) .btn-icon,
.carousel__slide:nth-child(4) .btn-icon {
    padding: 0.4rem 0.1rem;
}

.onboarding-banner-1 {
    background-color: #FF90E8;
}

.onboarding-banner-2 {
    background-color: #B470ED;
}

.onboarding-banner-3 {
    background-color: #5C91F6;
}

.onboarding-banner-4 {
    background-color: #4EC887;
}

.carousel__slide:nth-child(4) .round img {
    width: 20px;
}
.carousel__slide:nth-child(4) .round {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.desktop-left {
    display: grid;
    /* gap: 2rem; */
    margin-bottom: 2rem;
    height: 35vh;
}

.onboarding-banner-2,
.onboarding-banner-3,
.onboarding-banner-4 {
    grid-template-rows: .5fr .5fr 2fr;
}

.desktop-left h2 {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.image-wrapper   {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 0;
    background: unset;
    border: unset;
    box-shadow: unset;
    border-radius: unset;
}

.btn-icon {
    padding-top: 0.48rem;
    padding-bottom: 0.48rem;
}

.desktop-right {
    /* height: 45vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* gap: 4rem; */
    padding: 0 5%;
}


.share-icn {
    transform: rotate(-20deg);
}

p {
    font-size: 1.2rem;
}

.skip-next {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 5rem 0; */
    gap: 2rem;
}

.skip-next a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

.btn-primary {
    min-width: 80px;
}

/* extra ================= */
.play-wrapper {
    display: flex;
    flex-flow: column wrap;
  }

  .play-wrapper__numbers {
    display: flex;
    column-gap: 2rem;
    list-style: none;
    margin: 1rem auto;
    padding: 0;
  }

  .play-wrapper__numbers li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 1;
  }

  .play-wrapper__numbers li .number {
    font-weight: 600;
  }

  .play-wrapper__numbers li .circle {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0px 2px 0px #1d1d1d;
  }


  .play-wrapper_progress_bar {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .play-wrapper__progress_line {
    border: 1px solid #000;
    width: 70%;
    align-self: center;
    position: absolute;
    /* bottom: 33px;
    z-index: -1; */
    top: 33px;
  }

  .onboarding-banner-1 > .play-wrapper_progress_bar {
    justify-content: flex-end;
  }
    
  .onboarding-banner-1 .play-wrapper__progress_line{
    top: 29px;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }


@media screen and (min-width: 285px) {
    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 42px;
    }

    .play-wrapper__progress_line {
        width: 68%;
    }
}

@media screen and (min-width: 291px) {
    .play-wrapper__progress_line {
        width: 53%;
    }
}


@media screen and (min-width: 335px) {
    .play-wrapper__progress_line {
        width: 45%;
    }
}


@media screen and (min-width: 414px) {
    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 43px;
    }

    .play-wrapper__progress_line {
        width: 43%;
    }
}

@media screen and (min-width: 440px) {
    span.play-wrapper__progress_line {
        width: 34%;
    }

    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 58px;
    }
}

@media screen and (min-width: 551px) {
    span.play-wrapper__progress_line {
        width: 27%;
    }
}

@media screen and (min-width: 639px) {
    .play-wrapper__numbers li .circle {
        width: 25px;
        height: 25px;
    }

    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 55px;
    }

    .desktop-left h2 {
        font-size: 1.5rem;
    }

    .desktop-right {
        padding: 0 15%;
    }

    span.play-wrapper__progress_line {
        width: 24%;
    }


    p {
        font-size: 1.3rem;
    }

    .desktop-right {
        gap: 2rem;
        margin: 3rem;
    }
}

@media screen and (min-width: 765px) {
    span.play-wrapper__progress_line {
        width: 21%;
    }
}

@media screen and (min-width: 816px) {
    .play-wrapper__progress_line {
        width: 19%;
    }
}

@media screen and (min-width: 967px) {
    span.play-wrapper__progress_line {
        width: 16%;
    }

    .desktop-left h2 {
        font-size: 1.8rem;
    }

    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 52px;
    }
}



@media screen and (min-width: 1100px) {
    #mainArea {
        height: 80vh;
    }
    
    header {
        visibility: hidden;
    }

    main {
        border: unset;
        border-radius: unset; 
        box-shadow: unset;
    }

    .carousel__slide {
        margin: 0 1rem;
        flex: 0 0 98%;
    }

    .carousel {
        padding-top: 100%;
    }

    .carousel__viewport {
        overflow-x: scroll;
    }
    
    .card {
        min-height: 595px;
        background: #fafafc;
        border: 2px solid #1d1d1f;
        box-shadow: 0px 8px 0px #1d1d1d;
        border-radius: 24px;
    }


    .header-border {
        border-bottom: unset;
        border-radius: 40px 100px;
        box-shadow: unset;
        padding: unset;
    }
    
    .main-wrapper {
        margin-top: 2rem;
    }

    .onboarding-wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 5px 5px;
        padding: 0;
        
        max-height: 85vh;
        background-color: white;
    }

    #carousel__slide1 .onboarding-wrapper {
        background: linear-gradient(to right, #FF90E8 20%, #ffff 20% 80%);
    }

    #carousel__slide2 .onboarding-wrapper {
        background: linear-gradient(to right, #B470ED 20%, #ffff 20% 80%);
    }

    #carousel__slide3 .onboarding-wrapper {
        background: linear-gradient(to right, #5C91F6 20%, #ffff 20% 80%);
    }

    #carousel__slide4 .onboarding-wrapper {
        background: linear-gradient(to right, #4EC887 20%, #ffff 20% 80%);
    }
    
    .desktop-left {
        margin-bottom: 0;
        height: 84.71vh;
        gap: 0;
        grid-template-rows: repeat(3,1fr);
        align-items: center;
    }

    .desktop-left button {
        margin: 1rem
    }

    .desktop-left .play-wrapper_progress_bar {
        order: 3;
        padding-bottom: 2rem;
        grid-row: 3/-1;
    }

    .desktop-left h2 {
        grid-row: 2/3;
        font-size: 2.4rem;
    }

    .desktop-right {
        height: 70vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
    }

    .onboarding-banner-1 .play-wrapper__progress_line {
        top: 29px;
        width: 37%;
    }
    

    span.play-wrapper__progress_line {
        width: 37%;
    }

    .btn-primary {
        min-width: 150px;
    }
}
