html {
  overflow: hidden;
}

.stepper-wrapper {
  margin: 50px auto;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.stepper-wrapper::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: lightgray;
  position: absolute;
  z-index: -2;
}

.progress {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(78, 196, 243);
  position: absolute;
  z-index: -1;
  transition: width 1s;
}

.screen-indicator {
  border-radius: 50%;
  border: 3px solid lightgrey;
  background-color: white;
  padding: 10px 19px;
  color: gray;
  transition: border-color color;
  transition-duration: 0.7s;
}

.completed {
  border-color: rgb(78, 196, 243);
  color: rgb(78, 196, 243);
}

.control-btn {
  background-color: rgb(238, 238, 238);
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.control-btn:disabled {
  cursor: not-allowed;
}

.control-btn:not(:disabled):hover {
  background-color: lightgray;
}

.shareButtons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .play-wrapper {
    padding: 0 1rem;
  }

  .play-wrapper__numbers {
    margin-top: 1rem;
    column-gap: 2rem;
  }

  .play-wrapper_card {
    margin: 1rem 0;
  }

  .play_wrapper__card_body {
    padding: 1rem;
  }

  .play-wrapper__hint {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .popup-window {
    width: 90%;
  }

  .results-wrapper {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  .results-success-title {
    display: none;
  }

  .results-inner {
    border: none;
    border-radius: 0 0 30px;
  }

  .statistics {
    padding: 2rem;
    border-radius: 0 0 50px 0;
  }

  .statistics h2 {
    margin-bottom: 1rem;
  }

  .shareButtons {
    margin-top: 1rem;
  }

  .results-details {
    padding: 1rem 2rem;
  }

  .results-details img {
    max-height: 220px;
  }
}