.shop-header {
  color: #4ec887;
  text-shadow: 0px 4px 0px #1d1d1d;
}

.shop-wrapper__points {
  text-align: center;
}

.shop-wrapper__points h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
  margin-block-end: 0;
}

.points-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.points-available {
  font-weight: 400;
  font-size: 66px;
  line-height: 99px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
}

.shop-wrapper__items,
.shop-wrapper__purchased {
  padding: 0;
  margin-bottom: 2rem;
}

.shop-wrapper__items h3,
.shop-wrapper__purchased h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 1rem;
  text-align: center;
  background-color: #4ec887;
  border-radius: 22px 22px 0 0;
  border-bottom: 2px solid #1d1d1f;
}

.items-available {
  padding: 1rem;
  overflow: scroll;
}

.shop_item {
  background: #fafafc;
  border: 2px solid #1d1d1f;
  box-shadow: 0px 4px 0px #1d1d1d;
  border-radius: 16px;
}

.shop_item .btn-icon {
  width: 4.5rem;
  height: 4.5rem;
}

.shop_item .item-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
  margin-top: 1rem;
}

.shop_item .item-price {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.025em;
  color: #1d1d1f;
}

.shop_item .shop_item__point_wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.shop_item .shop_item__point_wrapper .btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
}

.shop-wrapper__purchased {
  height: 15rem;
}

.shop-wrapper__purchased h3 {
  background-color: #d9d9d9;
}
