
@media screen and (min-width: 1100px) {
    header {
        visibility: hidden;
    }
    
    .header-border {
        border-bottom: unset;
        border-radius: 40px 100px;
        box-shadow: unset;
        padding: 1rem 3rem;
        background-color: #fff;
    }

    .order-1 h2 {
        position: absolute;
        top: 50%;
        left: 25%;
      }
    
}