.header.visually-hidden {
  clip: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  position: relative;
  white-space: unset;
  width: unset;
  margin-bottom: 5rem;
}

.main-menu {
  display: none;
}

.header-border {
  background-color: #fed235;
}

.login-field {
  padding: 2rem 8%;
  background-color: #fff;
  border-radius: 0 22px 22px 0;
}

.signup-label {
  font-weight: bold;
  text-decoration: underline;
}

input {
  padding: 0 1rem;
}

.or {
  padding-bottom: 4rem;
}

/* for incorrect password ==== */
.incorrect-pw {
  border: 2px solid red;
}

@media screen and (min-width: 1100px) {
  .socialmedia-icons a {
    width: 4rem;
    height: 4rem;
  }
  .header.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  main {
    margin-top: 5rem;
    background: linear-gradient(to right, #fed235 20%, transparent 20% 80%);
  }

  .desktop-left .logo-img {
    position: absolute;
    top: 35%;
    left: 15%;
  }

  .desktop-left {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    border-right: 1.5px solid black;
    border-radius: 40px 100px;
    padding: 1rem 3rem;
    margin-bottom: 0;
    box-shadow: unset;
    border-bottom: 0;
    display: block;
    position: relative;
  }
}
